body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #F7931E, #ffb347);
}

.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #6A2C91;
    color: white;
    position: fixed;
    padding-top: 20px;
}

.sidebar img {
    width: 150px;
    display: block;
    margin: 0 auto 30px;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.sidebar a:hover {
    background-color: #8e44ad;
}

.content {
    margin-left: 240px;
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}